html {
  overflow-x: hidden;
}

body {
  /* background-color: #55efc4; */
  background-color: white;
  color: rgb(15,15,15);
  font-family: 'Roboto Slab', serif;
}

h6 {
  color: black;
}

.splash-background {
    /* background-image: url(../assets/code-background.jpg); */
    background-size: cover;
    height: 900px;
}

.tab {
  padding-left: 30px;
}

.code-intro-container {
  position: relative;
  bottom: 50px;
  padding-bottom: 100px;
}

.intro {
  /* margin-right: 38%; */
  /* position: relative; */
  /* text-align: center; */
  margin-left: 35%;
  font-family: Consolas, "courier new";
  font-size: 17px;
  font-weight: bold;
  color: rgb(37, 37, 37);
}

pre {
  position: relative;
  right: 20px;
}

.intro-small {
  display: none;
}

.headshot {
  border-radius: 50%;
  margin: 20px;
}

.white {
  background-color: white;
}

.space {
  padding-top: 100px;
  padding-bottom: 100px;
}

.skills {
  padding-top: 50px;
  padding-bottom: 100px;
}

.skills .row {
  margin-bottom: 40px;
}

.disclaimer {
  margin-top: 0 !important;
}

.row .col-lg-2 {
  margin-bottom: 80px;
}

.section-head {
  margin-bottom: 60px;
  margin-top: 150px;
}

.skill-card {
  border: 0.5px solid rgba(0,0,0,0.1);
  box-shadow: 0px 3px 4px #aaaaaa;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 30px;
  color: rgba(0,0,0, 0.5);
}

#small-card {
  /* width: 500px; */
  /* padding-left: 60px; */
  padding-top: 40px;
  /* margin: auto; */
}

.skill-card-custom {
  border: 0.5px solid rgba(0,0,0,0.1);
  box-shadow: 0px 3px 4px #aaaaaa;
  border-radius: 20px;
  padding: 6px 20px 6px 20px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 30px;
  color: rgba(0,0,0, 0.5);
}

.skill-card-text {
  margin-left: 50px; 
  bottom: 10px; 
  position: relative;
}

.skill-card-text-custom {
  margin-left: 35px; 
  margin-right: 10px;
  bottom: 0; 
  position: relative;
}

.green {
  color: rgba(34, 185, 29)
}

.material-checkmark {
  top: 5px; 
  position: relative;
}

.skill-card i {
  font-size: 50px;
  /* display: block; */
  margin-top: 30px;

}

.skills b{
  font-size: 16px;
  font-weight: 900;
  margin: auto;
}
/* 
.skills i{
  font-size: 50px;
  display: block;
  margin-top: 30px;
} */

.project-description i {
  display: inline;
  font-size: 50px;
  margin-right: 30px;
}

.object {
  /* background-color: #eee; */
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(100,100,100);
  background-color: rgba(0,0,0, 0.7);
  margin: 0;
}

.small {
  margin: 0 auto;
}

code {
  font-size: 18px;
  color: rgb(15,15,15);
}

.center {
  text-align: center;
}

.projects .row {
  margin-top: 80px;
}

.project-site, .project-github {
  display:none;
}

.project-img {
  margin: 0 100px 150px 100px;
}

.project-img:hover .img-thumbnail {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
}

.fa-3 {
  font-size: 30px;
  display: inline;
  margin-right: 10px;
}

.fa-5 {
  font-size: 40px;
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
}

.fa-5-pdf {
  font-size: 35px;
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
}

.project-description {
  /* padding-top: 10%; */
  font-size: 20px;
  margin-bottom: 40px;
}

.relative {
  position: relative;
}

.site-links {
  width: 280px;
  margin: 40px 30px 0 30px;
  padding: 10px 0 10px 0;
  /* background-color: rgb(100,100,100); */
  background-color: rgba(0,0,0,.5);
  border: 0 solid black;
  border-radius: 10px;
}

.site-links a {
  color: white;
  text-decoration: none;
}

.about-me {
  padding-top: 50px;
  margin: 0 400px 130px 400px;
}

.small-padding {
  padding-top: 40px;
}

.dark {
  background-color: #2c3e50;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer code {
  font-size: 15px;
  color: white;
}

@media (min-width:1200px) {
  .project-img:hover .project-link {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
    filter: brightness(100%);
    display: inline;
    color: white;
    text-decoration: none;
  }

  .project-img:hover .project-site {
    position: absolute;
    top: 40%;
    left: 30%
  }

  .project-img:hover .project-github {
    position: absolute;
    top: 37%;
    right: 30%;
  }
}

@media (max-width:1570px) {
  .intro {
    margin-left: 30%;
    font-family: Consolas, "courier new";
    font-size: 15px;
    font-weight: bold;
    color: rgb(37, 37, 37);
  }
}


@media (max-width:1319px) {
  .project-description {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    /* padding-top: 7%; */
  }

  .project-description h3 {
    text-align: center;
  }

  .project-img {
    margin: 5% 100px 0 100px;
  }

  .about-me {
    margin: 0 100px 130px 100px;
  }
}

@media (max-width:1250px) {
  .skill-card-text, .skill-card-text-custom {
    margin-left: 0;
    display: block;
  }
  
  .intro {
    font-size: 14px;
  }
}

@media (max-width:1199px) {
  .project-site, .project-github {
    display: inline;
    position: relative;
    top: 30px;
    color: black;
  }

  .project-site {
    left: 25%;
  }

  .project-github {
    left: 63%;
  }

  .project-description {
    margin-top: 40px;
  }
}

@media (max-width:1025px) {
  .intro {
    margin-left: 20%;
  }
}

@media (max-width:991px) {
  .skills-container {
    margin-top: 80px;
  }
}

@media (max-width:850px) {
  .project-site {
    left: 20%;
  }

  /* .intro-small {
    display: inline-block;
    position: relative;
    left: 15%
  }

  .intro {
    display: none;
  } */
}

@media (max-width:750px) {
  .project-img {
    margin: 10% 50px 10px 50px;
  }

  /* .intro-small {
    display: inline-block;
    position: relative;
    left: 5%
  } */

  .about-me {
    margin: 0 20px 80px 20px;
  }
}

@media (max-width:600px) {
  .project-site {
    margin-left: 7%;
    left: -15px;
  }
}

@media (max-width:575px) {
  .top-margin {
    margin-top: 80px;
  }

  .skills b {
    font-size: 20px;
  }

  .intro {
    margin-left: 20%;
  }
}

@media (max-width:500px) {
  .project-site {
    left: -15px;
  }
}
